body,
html {
	min-height: 100%;
}


body{
	background-color:;
	background-image: url('../img/farmersmarket/farmersmarker.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}


.top-header {
	width: 100%;
	max-width: 960px;
	font: 6em "Amatic SC", cursive;
	color: #F7F1F1;
	text-shadow: 4px 4px 0 rgba(252, 34, 34, 0.2);
	margin: 40px auto;
	text-align: center;
	line-height: 2em;
}




.logo-layer1{
	background-color:#88A1B4;
}

.logo-layer2{
	background-color: #9BB7D1;
}

.lower-bar{
	position: absolute;
	top: 100vh;
	background-color: #242D55;
	height: 27%;
	width: 100%;



}


.logo-ly1{
width:20%;
}
.logo-ly2{
position: absolute;
width: 20%;
left: 0;

}








